<section class="py-5 text-center container">
  <div class="row py-lg-1">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="display-4 fw-bold lh-1">Contáctame</h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col">
      <form action="https://formsubmit.co/miguelangelrojastejada70@gmail.com" method="POST">
        <div class="mb-3">
          <label class="form-label" for="name">Nombre</label>
          <input class="form-control" type="text" name="name" placeholder="Nombre" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="emailAddress" required>Correo</label>
          <input class="form-control" type="email" name="email" placeholder="Correo" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="number" required>Teléfono</label>
          <input class="form-control" type="text" name="number" placeholder="999 999 999" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="message">Mensaje</label>
          <textarea class="form-control" type="text" name="message" placeholder="Mensaje"
            style="height: 10rem;"></textarea>
        </div>
        <div class="d-grid mt-3">
          <button class="btn btn-success btn-lg mt-3" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="mt-5 mb-5 px-5 d-flex justify-content-between">
    <div>
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-phone"></span>
      </div>
      <div class="text">
        <p><span>Celular: </span> <a href="tel://959448077">959448077</a></p>
      </div>
    </div>
    <div>
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-paper-plane"></span>
      </div>
      <div class="text">
        <p><span>Correo: </span> <a href="mailto:miguelangelrojastejada70@gmail.com">miguelangelrojastejada70@gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="mt-5 mb-5 px-5 d-flex justify-content-center">
    <div>
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-map"></span>
      </div>
      <div class="text">
        <p><span>Ubicación: </span>Calle San José 213 - Oficina 203</p>
      </div>
    </div>
  </div>
</div>
