<div class="py-5 container overflow-hidden">
  <div class="py-lg-1 row gy-2 gy-md-0 justify-content-xxl-center">
    <div class="col-12 order-md-1 col-md-8 col-xxl-6">
      <div class="text-center text-md-start">
        <h2 class="display-3 fw-bold lh-1">Miguel Ángel Rojas Tejada</h2>
        <p class="text-secondary fs-4 mb-2">Arquitecto</p>
        <hr class="mb-5 w-25 mx-auto ms-md-0 mb-4 text-secondary">
        <div class="mb-5">
          <p class="fw-bolder text-decoration-underline">Formación académica</p>
          <p>31 de Octubre de 1985 Diploma de Bachiller en: Arquitectura Universidad Nacional de San Agustín de Arequipa Facultad de Arquitectura y Urbanismo <br> 31 de Mayo de 1996 Titulo Profesional de: Arquitecto Universidad Nacional de San Agustín de Arequipa</p>
        </div>
        <div class="mb-5">
          <p class="fw-bolder text-decoration-underline">Premios</p>
          <p>Universidad Nacional de San Agustín de Arequipa Facultad de Arquitectura y Urbanismo<br>Reconocimiento al Merito: Por su destacada labor y responsabilidad desempeñada en la unidad de proyección Social de la Facultad de Arquitectura y Urbanismo
            En el periodo lectivo 1992—1993</p>
        </div>
        <div class="mb-5">
          <p class="fw-bolder text-decoration-underline">Experiencia laboral</p>
          <p>Como Verificador adscrito a la Superintendencia de los Registros Públicos SUNARP desde el año 1999<br>
            He desarrollado proyectos de:<br>
            Subdivisiones y Acumulaciones<br>
            Declaratorias de Fabrica<br>
            Independizaciones de departamentos y secciones con Reglamento Interno.</p>
          <p>Como profesional hábil en el Colegio de Arquitectos del Perú desde el año 1997 Desarrollo de:<br>
            Arquitectura desde el año 1997 en proyectos de:<br>
            Vivienda Individuales y Edificios<br>
            Edificaciones Comerciales<br>
            Proyectos Hospitalarios y Educacionales<br>
            Dirección de Obra de construcción.
            </p>
          <p>Valorizaciones y Tasaciones de predios Urbanos y Rústicos.</p>
        </div>
        <div class="mb-5">
          <p class="fw-bolder text-decoration-underline">Trabajos voluntarios</p>
          <p>Concejo Provincial de Arequipa Reconocimiento por la colaboración a la ciudad por el Sismo de Junio 2001</p>
        </div>
        <div class="mb-5">
          <p class="fw-bolder text-decoration-underline">Informática</p>
          <p>Conocimiento de  AutoCAD 2015; Office 2015 Excel; Word</p>
        </div>
      </div>
    </div>
    <div class="col-12 order-md-0 col-md-4 col-xxl-4">
      <div class="text-center text-md-start me-md-3 me-xl-5">
        <p class="mb-4">
          <span class="d-block display-6 lh-1">+{{experiencia}}</span>
          <span class="fs-4 text-secondary">Años De Experiencia</span>
        </p>
        <div class="d-grid">
          <button [routerLink]="['/contact']" class="btn btn-primary btn-lg" type="button">Contáctame</button>
        </div>
      </div>
    </div>
  </div>
</div>
