<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/logo1.png" class="d-block mx-lg-auto img-fluid" alt="logo.png" loading="lazy" width="700" height="500">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Arquitecto Miguel Ángel Rojas Tejadass</h1>
      <p class="lead">Para realizar un sueño se necesita:</p>
      <p class="ps-3">- Un proyecto que cumpla con la normatividad con profesional adecuado basta</p>
      <p class="ps-3">- Las manos con experiencia</p>
      <p class="ps-3">- Financiamiento</p>
      <div class="pt-3 d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" [routerLink]="['/services']">¿Que es lo que quieres hacer?</button>
      </div>
    </div>
  </div>
</div>
