<section class="py-5 text-center container">
  <div class="row py-lg-1">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="display-4 fw-bold lh-1">Proyectos</h1>
    </div>
  </div>
</section>

<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/1.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto casa la Joya.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/Cayma.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto Cayma.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/J.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto departamentos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/juol.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto San Lázaro.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/Leon XIII.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto Leon XIII.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/Oficinas.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto oficinas(concurso).</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/Rivero 1.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto Rivero.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/Selva Alegre-R1-01..jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto selva alegre.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/projects/vista derecha.jpg" class="bd-placeholder-img card-img-top" alt="logo.png" loading="lazy" width="100%" height="225">

          <div class="card-body">
            <p class="card-text">sobre el proyecto casa la marina.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">Ver</button>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
