<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-1">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-4 fw-bold lh-1">Servicios</h1>
      </div>
    </div>
  </section>

  <div class="container" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-book p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Inscripción de predios</h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Necesito la Medición de mi propiedad']">Necesito la Medición de mi propiedad</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Quiero un Levantamiento con precisión']">Quiero un Levantamiento con precisión</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Compre un terreno que no está inscrito']">Compre un terreno que no está inscrito</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-columns p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Subdividir terrenos</h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Como dividir un terreno']">Como dividir un terreno</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Como dejar a los hijos un pedazo de terreno']">Como dejar a los hijos un pedazo de terreno</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Como vender parte de mi terreno']">Como vender parte de mi terreno</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Mis padres me dejaron parte del terreno']">Mis padres me dejaron parte del terreno</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-plus-square p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Acumular terrenos</h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Tengo 2 lotes y quiero unirlos']">Tengo 2 lotes y quiero unirlos</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-book p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Inscripción de predios</h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Necesito la Medición de mi propiedad']">Necesito la Medición de mi propiedad</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Quiero un Levantamiento con precisión']">Quiero un Levantamiento con precisión</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Compre un terreno que no está inscrito']">Compre un terreno que no está inscrito</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-home p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Declaratorias de Fábrica</h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Termine de construir y quiero declararlo']">Termine de construir y quiero declararlo</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'He construido y quiero que me sirva de garantía']">He construido y quiero que me sirva de garantía</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-home p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Independización de secciones</h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Quiero vender un departamento en mi casa']">Quiero vender un departamento en mi casa</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'He construido una Casa y Quiero vender departamentos']">He construido una Casa y Quiero vender departamentos</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'He construido un edificio y quiero vender tiendas, oficinas y departamentos']">He construido un edificio y quiero vender tiendas, oficinas y departamentos</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-home p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Proyectos de edificación </h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Proyectos de edificación']">Proyectos de edificación </a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Como puedo sacar el mejor provecho a mi terreno']">Como puedo sacar el mejor provecho a mi terreno</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Como debe ser mi casa']">Como debe ser mi casa</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Quiero construir cumpliendo la Ley no quiero multas']">Quiero construir cumpliendo la Ley no quiero multas</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Que documentos necesito para construir']">Que documentos necesito para construir</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-home p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Construcción </h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Quiero construir']">Quiero construir </a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Que personal necesito para cada etapa de la construcción']">Que personal necesito para cada etapa de la construcción</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Quiero un presupuesto de construcción y que además sea real y que la construcción']">Quiero un presupuesto de construcción y que además sea real y que la construcción </a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Que la construcción sea fiel al proyecto']">Que la construcción sea fiel al proyecto</a>
        </p>
      </div>

      <div class="feature col mb-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <span class="fa fa-home p-2"></span>
        </div>
        <h3 class="fs-2 mb-4">Habilitaciones Urbanas </h3>
        <p>
          => <a class="text-white" [routerLink]="['/contact', 'Tengo un terreno y quiero lotizarlo']">Tengo un terreno y quiero lotizarlo </a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Mi terreno es rustico y quiero hacer la habilitación urbana']">Mi terreno es rustico y quiero hacer la habilitación urbana</a><br>
          => <a class="text-white" [routerLink]="['/contact', 'Cuantos lotes puedo vender']">Cuantos lotes puedo vender </a>
        </p>
      </div>

    </div>
  </div>

</main>
